@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  background-color: hsl(257, 40%, 49%);
  background-image: url('../images/bg-desktop.svg');
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.header__logo {
  max-width: 85vw;
  margin: 0 auto;
  padding: 30px 0 40px;
}

.header__logo img {
  height: 50px;
}

.main {
  width: 85vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main__description {
  padding: 40px;
}


.main__description h2 {
  font-size: 2.1em;
  line-height: 60px;
}

.main__description p {
  font-size: .95em;
  line-height: 23px;
}

.main__description button {
  padding: 15px 60px;
  font-size: 1em;
  color: #674bb2;
  border: none;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
}

.main__description button:focus {
  outline: none;
}

.footer {
  max-width: 80vw;
  margin: 0 auto;
}
.footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.social-link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: 40px 40px;
  border: 1px solid white;
  border-radius: 50px;
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.social-link i {
  text-align: center;
  padding-top: .7em;
}


/*Media queries*/

@media (max-width: 768px) {

  body {
    background-image: url('../images/bg-mobile.svg');
    background-size: contain;
  }

  .header__logo img {
    height: 40px;
  }

  .main {
    max-width: 100vw;
    flex-direction: column;
  }

  .main__illustration {
    text-align: center;
  }

  .main__illustration-image {
    width: 100%;
  }
  
  .main__description {
    padding: 30px 60px;
    text-align: center;
  }

  .main__description h2 {
    font-size: 2.3em;
  }

  .main__description p {
    padding: 20px 0;
  }

  .main__description button {
    padding: 20px 80px;
  }

  .footer ul {
    justify-content: center;
    padding: 70px 0;
  }
}

@media (max-width: 480px) {
  .header__logo img {
    height: 35px;
  }

  .main__description {
    padding: 30px 20px;
  }

  .main__description h2 {
    font-size: 1.7em;
    line-height: 45px;
  }

  .main__description p {
    font-size: .9em;
    padding: 10px 0;
  }
  
  .main__description button {
    padding: 10px 60px;
    font-size: .7em;
  }

  .footer ul {
    padding: 30px 0;
  }
}

@media (max-width: 375px) {

  .header__logo img {
    height: 30px;
  }
  
  .main__description h2 {
    font-size: 1em;
    line-height: 35px;
  }

  .main__description p {
    font-size: .75em;
  }

  .main__description button {
    padding: 10px 70px;
    font-size: .7em;
  }

  .social-link {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }

  .social-link i {
    text-align: center;
    padding-top: .4em;
    font-size: .9em;
  }

  .footer ul {
    padding: 20px 0;
  }
}
